:root{
  --rojo-nintendo: rgb(230,0,18);
  --gris-linea-separacion: solid 1px rgb(218,218,218);
  --icons-width: 18px;
  --icons-height: 18px;
  --border-radius-small: 0.75rem;
  --border-radius: 1rem;
}

body {
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

header{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
}

#nav1{
  height: 52px;
}
.navbar{
  margin: 0;
  display: flex;
  width: 100%;
  border-bottom: var(--gris-linea-separacion);
  align-items: center;
}

#nav-1{
  height: 52px;
}

.home-link{
  background-color: var(--rojo-nintendo);
  position: relative;
  width: 105px;
  height: 52px;
  margin: 0 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.home-link svg{
  margin: auto;
  size: 69;
}

.search-form{
  margin: auto 1rem auto 1rem;
  height: 2.125rem;
  width: 100%;
  max-width: 28.125rem;
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
  border-bottom: solid 1px rgb(72, 72, 72);
}

.search-form:hover{
  border-bottom: solid 1px var(--rojo-nintendo);
  cursor:pointer;
}

.search-form input,input::placeholder{
  border: none;
  flex: 1;
  outline: none;
  line-height: 1.5;
}

.search-form:hover .icono{
  fill: var(--rojo-nintendo);
  transition: fill 200ms ease-in-out 25ms;
}

.search-form:hover input::placeholder{
  color: var(--rojo-nintendo);
  transition: color 200ms ease-in-out 25ms;
}

.select{
  border: none;
  margin: 10px 0px;
  padding: 2px;
  width: 140px;
  z-index: 99999;
}

.select:hover .d-arrow{
  fill: var(--rojo-nintendo);
}

.select:hover p{
  color: var(--rojo-nintendo);
  cursor: pointer;
}

.select p{
  display: inline-flex;
  justify-content: space-around;
  width: 140px;
}

.options{
  position: fixed;
  margin-top: -6px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  width: 140px;
  z-index: 9999;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #88888870;
  overflow: hidden;
  visibility: hidden;
}

.options ul{
  margin: 2px 0px;
  list-style-type: none;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.options ul li{
  margin: 0px;
  list-style-type: none;
  padding-inline-start: 0px;
  padding: 5px 10px; 
}

.options ul li:hover{
  background-color: rgba(218, 218, 218, 0.452); 
  cursor: pointer
}

.nav-links{
  display: inline-flex;
  position: fixed;
  right: 0;
  gap: 1.75rem;
  justify-content: space-around;
  padding: 0px 1.25rem;
}

.nav-links li{
  list-style-type: none;
  align-items: center;
  display: flex;
}

.link{
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.link:hover{
  color: var(--rojo-nintendo);
  fill: var(--rojo-nintendo);
  cursor: pointer;
}

.icono{
  margin: 0px 0.375rem 0px 0px;
  width: var(--icons-width);
  height: var(--icons-height);
}

.link:hover svg{
  fill: var(--rojo-nintendo);
}

.flag{
  margin: auto;
}

#nav-2{
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav-buttons{
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 1rem;
  height: 44px;
}

.nav-buttons button{
  background-color: transparent;
  border:none;
  display:inline-flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 999;
  padding: 0.75rem;
}

.d-arrow{
  margin: 1px 0px 0px 0.5rem;
}

.nav-buttons button:hover,button:focus{
  color: var(--rojo-nintendo);
  cursor: pointer
}
.nav-buttons button:hover svg{
  fill: var(--rojo-nintendo);
}
.nav-buttons button:focus svg{
  fill: var(--rojo-nintendo);
}

.dropdown-overlay{
  position: relative;
  z-index: 9999;
  height: fit-content;
  width: 100%;
}

.buttons-dropdown-store{
  display: flex;
  flex-direction: column;
  height: 304.766px;
  justify-content: space-between;
  display: none;
}

.dropdown-store-title{
  width: 100%;
  height: 64px;
  background-color: var(--rojo-nintendo);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: relative;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.dropdown-store-title a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}
.dropdown-store-title button{
  background-color: var(--rojo-nintendo);
  border: none;
  position: absolute;
  right: 0;
}
.dropdown-store-title button svg{
  border-radius: 50%;
  background-color: var(--rojo-nintendo);
  fill: white;
  border: none;
  align-self: self-end;
}
.dropdown-red-border{
  width:100%;
  height:14px;
  background-color: white;
  background-image: url(svg-icons/red_border.svg);
  background-repeat: repeat-x;
  position: absolute;
  top: 74px;
}
.store-elements{
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1440px;
  min-width: calc(1025px - 2rem);
  margin: 0px auto;
}

.store-elements div{
  min-width: 7.5rem;
}

.store-elements div a{
  text-decoration: none;
  display: flex;
  align-items: center;
}

.store-elements div a:hover{
  color: var(--rojo-nintendo);
}

.store-elements div a svg{
  fill: var(--rojo-nintendo);
  margin: 0 5px 0 0;
}

.shop-all{
  margin-top: 1rem;
  background-color: white;
  border: solid 1px var(--rojo-nintendo);
  border-radius: 1rem;
  color: var(--rojo-nintendo);
  cursor:pointer;
  height: 3rem;
  padding: 0px 1.5rem;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  z-index: 9999;
  transition: background-color 0.2s ease-in-out;
  transition-delay: 0.05s;
}

.shop-all:hover{
  background-color: rgba(230,0,18,0.1);
  box-shadow: 0 1px 1px rgba(230,0,18, 0.2);
  animation-name: jump;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

@keyframes jump {
  50% {
      padding: 10px 1.6rem;
      box-shadow: 1px 2px 3px 1px rgba(230,0,18, 0.2);
      border: solid 2px var(--rojo-nintendo);
  }
  100% {
      padding: 0px 1.5rem;
      box-shadow: 0 1px 1px rgba(230,0,18, 0.2);
      border: solid 1px var(--rojo-nintendo);
  }
}

.buttons-dropdown-games{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 165.188px;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  display: none;
}

.buttons-dropdown-games button{
  display: flex;
  position: relative;
  right: 0;
  width: fit-content;
  align-self: flex-end;
  align-items: center;
  background-color: transparent;
  border: none;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
}

.buttons-dropdown-games,.buttons-dropdown-switch,.buttons-dropdown-play button svg{
  fill: rgb(197, 196, 196)
}

.games-options{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1440px;
  min-width: calc(1025px - 2rem);
  margin: 0px auto;
}

.options-divs{
  display: flex;
  flex-direction: column;
  min-width: 7.5rem;
  width: fit-content;
}

.options-links{
  width: 120px;
  text-align: center;
  transition: all 200ms;
}

.options-links div img{
  width: 120px;
}

.options-links p{
  margin: 0;
}

.options-links:hover{
  color: var(--rojo-nintendo);
  border-color: var(--rojo-nintendo);
}

.options-links:hover div{
  color: var(--rojo-nintendo);
  border-color: var(--rojo-nintendo);
  background-color: var(--rojo-nintendo);
}

.options-links:hover div svg{
  fill: white;
}

.options-links div{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 4.25rem;
  border: 1px solid rgb(218, 218, 218);
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
  background-color: white;
  transition-property: background-color, border-color;
  transition-duration: 200ms;
}

.buttons-dropdown-switch{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  display:none;
}

.buttons-dropdown-switch button{
  display: flex;
  position: relative;
  right: 0;
  width: fit-content;
  align-self: flex-end;
  align-items: center;
  background-color: transparent;
  border: none;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
}

.switch-options{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1440px;
  min-width: calc(1025px - 2rem);
  margin: 0px auto;
}

.switch-options div:first-child a{
  width: 260px;
}
.switch-options div:first-child a div img{
  width: 260px;
}
.switch-options div:nth-child(3) a div svg{
  background-color: white;
  fill: var(--rojo-nintendo);
}

.buttons-dropdown-play{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}

.buttons-dropdown-play button{
  display: flex;
  position: relative;
  right: 0;
  width: fit-content;
  align-self: flex-end;
  align-items: center;
  background-color: transparent;
  border: none;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
}

.play-options{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1440px;
  min-width: calc(1025px - 2rem);
  margin: 0px auto;
  display: none;
}

.buttons-dropdown-overlay{
  border-top: var(--gris-linea-separacion);
  width: 100%;
  height: 100cqmax;
  background-color: black;
  position: absolute;
  opacity: 0.5;
  overflow-y: hidden;
  overflow: hidden;
  display:none;
}


/***************Section Featured******************/
.glider-prev,
.glider-next {
  background-color: rgba(102, 102, 102, 0.4);
  width: auto;
  height: 195px;
  /* Centra horizontalmente los botones con respecto a las imágenes */
  position: absolute;
  top: 50%; /* Coloca los botones en la mitad superior de la imagen */
  transform: translateY(-50%); /* Alinea verticalmente los botones en el centro */
  /* Agrega espacio alrededor de los botones */
  padding: 2px;
  border-radius: 7px;
}

.glider-prev{
  left: 0px;
}
.glider-next{
  right: 0px;
}

/* Estilo para .glider-prev y .glider-next cuando se pasa el ratón por encima */
.glider-prev:hover,
.glider-next:hover {
  background-color: #5a5959; /* Fondo ligeramente menos transparente al pasar el ratón */
 opacity: .8;
 transition: .2s;
}

.hrFeatured{
  width: 800px;
  /*left: 2rem;*/
  margin: 0px;
  margin-left: 2rem;
  /*position: relative;*/
  z-index: 1;
  border-width: 0.0625rem 0px 0px;
  border-top-style: solid;
  border-top-color: rgb(218, 218, 218);
}
.featured{
  margin-top: -50px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /*position: relative;*/
  width: 100%;
  max-width: 100%;
  scroll-margin-top: 120px;
}

.heading_style{
  margin-left: 2rem !important;
  font-size: var(--heading-style)
}

.card img {
  max-width: 100%;
  height: 50%;
  position: absolute;
  top: 0%; 
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px;
}

.card {
  border-radius: 9px;
  border: 1px solid #ccc;
  padding: 10px;
  height: 160px ;
  width: 135px ;
  min-height:160px ;
  min-width:135px ;
  max-height:160px ;
  max-width:135px ;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  box-sizing: border-box;
}

.card h3 {
  color: rgb(72, 72, 72);
  font-size: .5rem;
  flex-grow: 1;
  position: absolute;
  top: 50%;
  left:.5rem ; 
}

.estado-azul{
  border-radius: 10px;
  background-color:#4B5CCE;
  color: rgb(248, 248, 248);
  font-size: 6px;
  flex-grow: 1;
  position: absolute;
  top: 74%;
  left:.55rem ;
  padding-left: 3px;
  padding-right: 3px;
}
.estado-rojo{
  border-radius: 10px;
  background-color: var(--rojo-nintendo);
  color: rgb(248, 248, 248);
  font-size: 7px;
  flex-grow: 1;
  position: absolute;
  top: 74%;
  left:.55rem ;
  padding-left: 4px;
  padding-right: 4px;
}
.filtro{
  margin-top: 10px;
  max-height: 2px;
  color: rgb(72, 72, 72);
  flex-grow: 1;
  position: absolute;
  top: 80%;
  left:.5rem ;
  border-left: 1px solid var(--rojo-nintendo);
  font-size: 6.5px;
  padding-bottom: 7px;
  padding-left: 2px;
}

.card:hover {
  cursor: pointer;
  z-index: 2;  
}

.card:hover h3{
  color: var(--rojo-nintendo);
}
.card:hover img{
  filter: brightness(.7); 
}

/******************************Footer************************************/
.nintendo_banner{
   background-color: var(--rojo-nintendo);
    display:grid;
    height: 125px;
    place-content: center;
    width: 100%;
    grid-template-columns: repeat(16, 90px);
    grid-gap: 5px; 
}
#nintendo_logo{
    grid-column: 1;
    margin-left: 40px;
    text-align: left;
}
#facebook{
    grid-column: 13;
    text-align: center;
}
#instagram{
    grid-column: 14;
    text-align: center;
}
#twitter{
    grid-column: 15;
    text-align: center;
}
#youtube{
    grid-column: 16;
    text-align: center;
}
.info{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: repeat(4,50px);
    margin: 60px;
    
}
#Shop{
    border-left: var(--gris-linea-separacion);
}
#Orders{
    border-left: var(--gris-linea-separacion);
}
#Support{
    grid-column: 4;
    grid-row: 1/3;
    border-left: var(--gris-linea-separacion);

}
#Parents{
    grid-column: 5;
    grid-row: 1;
    border-left: var(--gris-linea-separacion);
}
#Privacy{
    grid-column:5;
    grid-row:3;
    border-left: var(--gris-linea-separacion);
}
#Community{
    grid-column: 6;
    grid-row: 1;
    border-left: var(--gris-linea-separacion);
}
.headline{
    color:rgb(72,72,72);
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
    line-height: 40px;
    font-size: large;
}
.headline:hover{
    text-decoration: underline;
    text-decoration-thickness: bold 0.4;
    text-decoration-color: var(--rojo-nintendo);
}
.text{
    color:var(--rojo-nintendo);
    text-decoration: none;
    font-size:105%;
    font-weight:bold;
    padding-left: 25px;
    line-height: 35px;
}
.text:hover{
    text-decoration: underline;
    text-decoration-thickness: bold;
    text-decoration-color: var(--rojo-nintendo);
}
.esrb{
    grid-column: 6;
    grid-row: 4;
    text-align: right;
}




