
:root {
  --rojo-nintendo: rgb(230, 0, 18);
  --gris-linea-separacion: solid 1px rgb(218, 218, 218);
  --icons-width: 18px;
  --icons-height: 18px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

header {
  position: sticky;
}

#nav1, #nav-1 {
  height: 52px;
}

.navbar {
  margin: 0;
  display: flex;
  width: 100%;
  left: 0;
  z-index: 0;
  border-bottom: var(--gris-linea-separacion);
  align-items: center;
}

.home-link {
  background-color: var(--rojo-nintendo);
  position: relative;
  width: 105px;
  height: 52px;
  display: flex;
  align-items: center;
}

.home-link svg {
  margin: auto;
  size: 69;
}

.search-form {
  margin: auto 1rem;
  height: 2.125rem;
  width: 100%;
  max-width: 28.125rem;
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
  border-bottom: solid 1px rgb(72, 72, 72);
}

.search-form:hover {
  border-bottom: solid 1px var(--rojo-nintendo);
}

.search-form input, .search-form input::placeholder {
  border: none;
  flex: 1;
  outline: none;
  line-height: 1.5;
}

.search-form:hover .icono {
  fill: var(--rojo-nintendo);
  transition: fill 200ms ease-in-out 25ms;
}

.search-form:hover input::placeholder {
  color: var(--rojo-nintendo);
  transition: color 200ms ease-in-out 25ms;
}

.select {
  border: none;
  margin: 10px 0px;
  padding: 2px;
  width: 140px;
}

.select:hover .d-arrow, .select:hover p {
  fill: var(--rojo-nintendo);
  color: var(--rojo-nintendo);
}

.select p {
  display: inline-flex;
  justify-content: space-around;
  width: 140px;
}

.options {
  position: fixed;
  margin-top: -6px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  width: 140px;
  z-index: 10000;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #88888870;
  overflow: hidden;
  visibility: hidden;
}

.options ul, .options ul li {
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

.options ul li:hover {
  background-color: rgba(218, 218, 218, 0.452);
}

.nav-links {
  display: inline-flex;
  position: fixed;
  right: 0;
  gap: 1.75rem;
  justify-content: space-around;
  padding: 0px 1.25rem;
}

.nav-links li {
  list-style-type: none;
  align-items: center;
  display: flex;
}

.link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.link:hover {
  color: var(--rojo-nintendo);
  fill: var(--rojo-nintendo);
}

.icono {
  margin: 0 5px 0px 0;
  width: var(--icons-width);
  height: var(--icons-height);
}

.link:hover svg {
  fill: var(--rojo-nintendo);
}

.flag {
  margin: auto;
}

#nav-2 {
  align-content: center;
  justify-content: center;
}

.nav-buttons {
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 1rem;
  height: 44px;
}

.nav-buttons button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

.d-arrow {
  margin: auto 5px;
}

.nav-buttons button:hover {
  color: var(--rojo-nintendo);
}

.nav-buttons button:hover svg {
  fill: var(--rojo-nintendo);
}
/* EDIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* EDIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* EDIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */



/* Añade el estilo específico de Glide.js para la opacidad */

.container{
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}


.h2_featured{
  display: flex;

  
  left: auto;
  margin-right: auto;
 
  position: relative;

  border-width: 0.0625rem 0px 0px;
  border-top-style: solid;
  border-top-color: rgb(218, 218, 218);
  margin-top: .5rem;
  padding-top: 1rem;
  position: relative;
  width:70%;

  margin: 0;
  scroll-margin-top: 120px;
}

.container_hr{
  margin: 0;
}

.encabezadoDiv {
  margin-left: 20%;
  font-size: var(--heading-style);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card img {
  max-width: 100%;
  height: 50%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  
}
.card img:hover{
  transform: translateY(-20px) translateX(-50%);
}
.containerCards{
  margin-top: -1rem;
  padding: 2rem;
}
.card  {
  border-radius: 19px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  width: calc((100% - 1rem) / 3.5);;
  min-height: 312px;
  max-height: 312px;
  min-width: 254px;
  max-width: 254px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem !important ;
   
  box-sizing: border-box;
  flex-shrink: 0;
  
}

.card h3 {
  color: rgb(72, 72, 72);
  font-size: 1rem;
  flex-grow: 1;
  position: absolute;
  top: 50%;
  left: 0.5rem;
}

.estado-azul {
  border-radius: 10px;
  background-color: #4B5CCE;
  color: rgb(248, 248, 248);
  font-size: 0.7rem;
  flex-grow: 1;
  position: absolute;
  top: 74%;
  left: 0.55rem;
  padding-left: 3px;
  padding-right: 3px;
}

.estado-rojo {
  border-radius: 10px;
  background-color: var(--rojo-nintendo);
  color: rgb(248, 248, 248);
  font-size: 0.7rem;
  flex-grow: 1;
  position: absolute;
  top: 74%;
  left: 0.55rem;
  padding-left: 4px;
  padding-right: 4px;
}

.filtro {
  margin-top: 10px;
  max-height: 2px;
  color: rgb(72, 72, 72);
  flex-grow: 1;
  position: absolute;
  top: 85%;
  left: 0.5rem;
  border-left: 2px solid var(--rojo-nintendo);
  font-size: 0.9rem;
  padding-bottom: 20px;
  padding-left: 2px;
}

.card:hover {
  cursor: pointer;
  z-index: 2;
}

.card:hover h3 {
  color: var(--rojo-nintendo);
}

.card:hover img {
  filter: brightness(0.65);
}

.containerCards{
  padding-top: 3rem;
    padding-bottom: 3rem
}



@media(min-width: 50px){

  .card{
    
    min-width: calc((100% - 1.2rem) /1.1);
    max-width: calc((100% - 1.2rem) /1.2);
    min-height: 260px;
    max-height: 260px;
    
   
  }
  
}

@media(min-width: 520px){
 
  .card{
    min-height: 312px;
    max-height: 312px;
    min-width: 254px;
    max-width: 254px;
   
  }
  
} 



