:root {
    --border-left: 1px solid rgb(218, 218, 218);
}
.nintendo_banner{
   background-color: #e60012;
    display:grid;
    height: 125px;
    place-content: center;
    width: 100%;
    grid-template-columns: repeat(16, 90px);
    grid-gap: 5px;
    
    
}
#nintendo_logo{
    grid-column: 1;
    margin-left: 40px;
    text-align: left;
}
#facebook{
    grid-column: 13;
    text-align: center;
}
#instagram{
    grid-column: 14;
    text-align: center;
}
#twitter{
    grid-column: 15;
    text-align: center;
}
#youtube{
    grid-column: 16;
    text-align: center;
}
.info{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: repeat(4,50px);
    margin: 60px;
    
}
#Shop{
    border-left: var(--border-left);
}
#Orders{
    border-left: var(--border-left);
}
#Support{
    grid-column: 4;
    grid-row: 1/3;
    border-left: var(--border-left);

}
#Parents{
    grid-column: 5;
    grid-row: 1;
    border-left: var(--border-left);
}
#Privacy{
    grid-column:5;
    grid-row:3;
    border-left: var(--border-left);
}
#Community{
    grid-column: 6;
    grid-row: 1;
    border-left: var(--border-left);
}
.headline{
    color:rgb(72,72,72);
    font-weight: bold;
    text-decoration: none;
    font-family: "museo-sans";
    padding-left: 20px;
    line-height: 40px;
    font-size: large;
}
.headline:hover{
    text-decoration: underline;
    text-decoration-thickness: bold 0.4;
    text-decoration-color: #e60012;
}
.text{
    color:rgb(172,0,13);
    text-decoration: none;
    font-weight: bold;
    font-family: "museo-sans";
    padding-left: 25px;
    line-height: 35px;
}
.text:hover{
    text-decoration: underline;
    text-decoration-thickness: bold;
    text-decoration-color: #e60012;
}
.esrb{
    grid-column: 6;
    grid-row: 4;
    text-align: right;
}
