:root{
  --nintendo-font:museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
  --color-font: rgb(72, 72, 72);
  --font-weight-nintendo: 700;
  --font-size-text: font-size: 0.875rem;
}

body{
  font-family: var(--nintendo-font);
  color: var(--color-font);
}

.link{
  font-family: var(--nintendo-font);
  color: var(--color-font);
  font-weight: var(--font-weight-nintendo);
  font-size: var(--font-size-text);
}

svg{
  fill: var(--color-font);
}

.search-form input{
  font-family: var(--nintendo-font);
  color: var(--nintendo-font);
}

.search-form select option{
  font-family: var(--nintendo-font);
  color: var(--nintendo-font);
  font-weight: var(--font-weight-nintendo);
  font-size: var(--font-size-text);
}

.titulo {
  font-size: 1.75rem;
  font-weight: 700;
  margin-block: 0px;
  line-height: 1.35;
}

.titulo-card {
  font-size: 1rem;
  margin: 0px;
  font-weight: 700;
}

.subtitulo {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1em 0px;
}
