:root{
  --nintendo-font:museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
  --color-font: rgb(72, 72, 72);
}

body{
  font-family: var(--nintendo-font);
  color: var(--color-font);
}

.titulo {
  font-size: 1.75rem;
  font-weight: 700;
  margin-block: 0px;
  line-height: 1.35;
}

.titulo-card {
  font-size: 1rem;
  margin: 0px;
  font-weight: 700;
}

.subtitulo {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1em 0px;
}
